/*Define the big stuff, box sizing and body*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid red;
}

/*Framework for Site Structure*/
.grid {
    margin: 0 auto;
    max-width: 990px;
    width: 100%;
}

.row {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
}

.col25 {
    width: 25%;
}

.col33 {
    width: 33.33%;
    padding-right: auto;
    padding-left: auto;
    /*display: inline-block;*/
    text-align: center;
}

.col50 {
    width: 50%;
}

.col75 {
    width: 75%;
}

.col100{
    width: 100%;
}


/* Break Points for Responsive design */
@media screen and (max-width: 900px){
    * {
        border: 1px solid red;
    }
}


/*Other*/


.img1 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.row3header {
    padding-left: 15px;
    text-align: left;
}

.logo {
    max-width: 75px;
    max-height: auto;
}

.name {
    text-align: right;
    font-size: 3em;
    margin: 0;
    pading: 0;
}

.subname {
    text-align: right;
    font-size: 2em;
    margin: 0;
    pading: 0;
}

.centerimg {
    display: block;
}

/*Colors that should be used, just a placeholder for now*/
h1 {
    color: #7d97ad;
    text-align: center;
}

h2 {
    color: #2d3c49;
}

h3 {
    color: #02b3e4;
}